If:
  PathMatch: [.*\.c, .*\.h]
CompileFlags:
  Add:
    [
      -x,
      c,
      -Wconversion,
      -Wsign-conversion,
      -Wpedantic,
      -Wall,
      -Wextra,
      -DMEMPLUS_IMPLEMENTATION,
    ]
